
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body,
body::after,
body::before,
html,
html::after,
html::before {
  width: 100vw;
  height: 100vh;
}
